*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    padding: 0 20px;
}

header{
    height: 100px;
    background-color: #E57AE6;
}

footer{
    height: 100px;
    background-color: #8901FF;
}

main{
    margin: 20px 0;
}

/* box giallo */
.yellow{
    height: 300px;
    background-color: #E1D67A;
    margin-bottom: 30px;
}

/* colonna di sinistra */
.float-left{
    float: left;
}

aside{
    height: 600px;
    width: 25%;
    background-color: #ABCFE8;
}

section{
    margin: 0 20px;
    height: 600px;
    width: calc(50% - 40px);
    background-color: #ABCFE8;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.padding-20{
    padding: 20px;
}

.box{
    background-color: #0087FE;
    border-bottom: 20px solid #0087FE;
}

.box-azzurro{
    height: 100px;
    background-color: #ABCFE8;
    border-bottom: 20px solid #0087FE;
}